@media (max-width: 576px)
  .header
    display: block
    &-right
      margin: 15px 0 0 15px
      padding-bottom: 5px

  .ts-find_form__description
    padding-top: 15px
    width: 200px

  .img-blue
    margin-top: 10px
    width: 90%

@media (max-width: 960px)
  .ts-find_form
    margin-top: 20px

  .main-content__images
    display: flex
    justify-content: center
    flex-wrap: nowrap

    .img-main
      width: 100%
      text-align: center

    .img-blue
      margin-top: 10px
      width: 94.2%

    .img-four
      margin-top: 10px
      width: 100%

  .events-content
    &__add
      display: block
  .event-block
    margin:
      top: 15px
      left: 30px

  .see-all
    padding-right: 0

  .documents-blocks
    display: flex
    justify-content: center
    .block
      margin-top: 15px
      width: 100%


@media (min-width: 1400px)
  .img-main
    width: 860px

  .img-four
    width: 430px

  .img-blue
    width: 397px


@media(min-width: 1700px)
  .row
    max-width: 1700px
    margin: auto
